body { 
    background-color: #fdf1c9;
}
h1 {
    color: #6C4D27;
}
a {
    text-decoration: none;
    color: #fff;
}
img.logo {
    height: auto;
    Width: 100%;
}
header{
    background-color: rgb(73, 82, 90);
    color:#fff !important;

}

#searchbox {
    background: #d8d8d8;
    border: 2px solid #e8e8e8;
    padding: 0px 0px;
    width: 250px;
    height: 20px;
    margin-left:1%;

}
    
    #searchbox input[type= "text"] {
    background: url(http://2.bp.blogspot.com/-xpzxYc77ack/VDpdOE5tzMI/AAAAAAAAAeQ/TyXhIfEIUy4/s1600/search-dark.png) no-repeat 10px 6px #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 55%;
    padding: 8px 15px 8px 30px;
    }
    
    #button-submit {
    background: #6A6F75;
    border-width: 0px;
    padding: 9px 0px;
    width: 3%;
    cursor: pointer;
    font: bold 12px Arial, Helvetica;
    color: #fff;
    text-shadow: 0 1px 0 #555;
    }
    
    #button-submit:hover {
    background: #4f5356;
    }
    
    #button-submit:active {
    background: #5b5d60;
    outline: none;
    }
    
    #button-submit::-moz-focus-inner {
    border: 0;
    }

input.recherche{
    display:inline;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
a#cRetour{
    border-radius:3px;
    padding:10px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background:rgba(0, 0, 0, 0.25);
    position:fixed;
    right:20px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
  }
  a#cRetour:before{ content: "\25b2"; }
  a#cRetour:hover{
    background:rgba(0, 0, 0, 1);
    transition:all ease-in 0.2s;
  }
  a#cRetour.cInvisible{
    bottom:-35px;
    opacity:0;
    transition:all ease-in 0.5s;
  }
  
  a#cRetour.cVisible{
    bottom:20px;
    opacity:1;
  }
img.Map{
    max-width: 100%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:10px
};
img.PhotoDestination {
    max-width: 10%;
    height:auto;
    display: line;
    margin-left: auto;
    margin-right: auto;

};

h1#titre{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}
div#MapMonde2{
    position: relative;
    bottom:528px
}
img.compte{
    max-width: 3%;
    height:auto;
    vertical-align: bottom;
    margin-left: 1%;
}
a.text{
    color: #6C4D27 !important;
}



